<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>   
  </ion-refresher>

  <iframe src="http://191.252.196.74:8080" class="iframe" scrolling="yes" style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important"></iframe>
  
</ion-content>